.sliderContainer {
  background-color: black;
  filter: drop-shadow(0 0 0.3rem #fedc3d);
}

.slider {
  background-image: url(/public/imagenes/1.jpg);
  background-size: cover;
  height: 500px;
  width: 100%;
  border-radius: 10px;
  animation: animate 10s infinite;
  margin-bottom: 5rem;
}

@keyframes animate {
  20% {
    background-image: url(/public/imagenes/2.jpg);
    background-size: cover;
  }
  40% {
    background-image: url(/imagenes/3.jpg);
    background-size: cover;
  }
  60% {
    background-image: url(/public/imagenes/4.jpg);
    background-size: cover;
  }
  80% {
    background-image: url(/public/imagenes/nena_nieve.jpg);
    background-size: cover;
  }
  100% {
    background-image: url(/public/imagenes/1.jpg);
    background-size: cover;
  }
}
