@import "../../../styles/global.module";

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: 100%;
  gap: 2rem;
  padding: 5rem;
  justify-content: space-between;
  align-content: space-evenly;
  align-items: start;
  justify-items: stretch;

  h2 {
    margin: 0;
    font-family: "Limelight", cursive;
    font-size: 4rem;
    display: flex;
    background-color: #fedc3d;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10rem;
    align-content: stretch;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    filter: drop-shadow(0 0 0.75rem #fedc3d);
  }
  h2:hover {
    transform: scale(1.1);
    background-color: $terciary-color;
    border-radius: 5rem 5rem 5rem 5rem;
  }
}
