.userprofile {
  width: 80rem;
  height: 10rem;
  display: flex;
  justify-content: flex-end;

  .avatar {
    margin-top: 2rem;
    display: flex;
    border: 3px solid #fedc3d;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    filter: drop-shadow(0 0 0.5rem #fedc3d);

    img {
      padding: 1.3rem;
    }
  }
}
